#slideBtnBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: var(--size-slideWidth);
    height: fit-content;
    padding: 6px;
}

.slideBtn {
    transition: all 200ms;
    background-color: transparent;
    font-size: 2rem;
    border-radius: 30px;
}

.slideBtn:hover {
    color: black;
    transform: translateY(-2px);
}