
.icon-doc:before { content: '\e800'; } /* '' */
.icon-cw:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-print:before { content: '\e804'; } /* '' */
.icon-font:before { content: '\e805'; } /* '' */
.icon-pencil-alt:before { content: '\e806'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */
