* {
    color: #333333;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.125rem;
    padding-top: 0.75rem;
    position: relative;
}

a {
    text-decoration-line: none;
}

#logo {
    font-size: 1.5rem;
    cursor: default;
}

#linkBtnBox {
    right: 0;
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 22.8rem;
}

.linkBtn {
    font-size: 1.06rem;
    transition: all 100ms;
    padding: 4px;
}

.linkBtn:hover {
    color: black;
    transform: translateY(-2px);
}