#modalView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    width: 500px;
    color: white;
}

#modalView h1, h3, big, u, p, small {
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.886);
}

#modalView h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

#modalView h3 {
    margin-bottom: 16px;
}

#modalView p {
    font-weight: bold;
    margin: 8px;
    line-height: 150%;
}