#canvasLayerBox {
    animation: smoothOpacity 600ms ease-in-out;
    background-color: white;
}

@keyframes smoothOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* canvas */
canvas {
    width: var(--size-canvasWidth);
    height: var(--size-canvasHeight);
}

#canvasFlag {
    position: absolute;
    background-color: transparent;
    z-index: 1;
}

#canvasMain {
    background-color: white;
    z-index: 0;
}

#canvasSubmit {
    display: none;
}