:root {
    --color-dropdown-gray: #4D4D4D;
    --color-dropdown-darkgray: #252525;
}


.canvasBtn {
    position: absolute;
    border-radius: 3px;
    z-index: 3;
    font-size: calc(14 / 969 * 100vh);
    font-weight: 600;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 200ms;
    border: 1px solid transparent;
    background-color: transparent;
}

.canvasBtn:hover {
    border: 1px solid rgb(255, 69, 69);
}


/* element */
.btn_input {
    font-size: calc(18 / 969 * 100vh);
    text-align: center;
    padding-top: calc(4 / 969 * 100vh);
    box-sizing: border-box;
}

.btn_input:focus {
    outline: none;
}

#info_num {
    left: calc(28 / 969 * 100vh);
    top: calc(20 / 969 * 100vh);
    width: calc(58 / 969 * 100vh);
    height: calc(25 / 969 * 100vh);
    opacity: 0;
}

#info_num:hover {
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 1;
}

#info_key {
    left: calc(86 / 969 * 100vh);
    top: calc(20 / 969 * 100vh);
    width: calc(64 / 969 * 100vh);
    height: calc(25 / 969 * 100vh);
    font-size: calc(13 / 969 * 100vh);
    z-index: 5;
}

#info_tempo {
    left: calc(150 / 969 * 100vh);
    top: calc(20 / 969 * 100vh);
    width: calc(78 / 969 * 100vh);
    height: calc(25 / 969 * 100vh);
    opacity: 0;
}

#info_tempo:hover {
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 1;
}

#info_sheet {
    left: calc(500 / 969 * 100vh);
    top: calc(20 / 969 * 100vh);
    width: calc(78 / 969 * 100vh);
    height: calc(25 / 969 * 100vh);
}

#songform {
    left: calc(42 / 969 * 100vh);
    top: calc(62 / 969 * 100vh);
    width: calc(518 / 969 * 100vh);
    height: calc(26 / 969 * 100vh);
}

#image {
    left: calc(484 / 969 * 100vh);
    top: calc(820 / 969 * 100vh);
    width: calc(54 / 969 * 100vh);
    height: calc(22 / 969 * 100vh);
    border: 1px solid black;
    border-radius: 3px 0 0 3px;
    background-color: rgba(255, 255, 255, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;
}

#flag {
    left: calc(538 / 969 * 100vh);
    top: calc(820 / 969 * 100vh);
    width: calc(53 / 969 * 100vh);
    height: calc(22 / 969 * 100vh);
    border: 1px solid black;
    border-radius: 0 3px 3px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;
}

#image:hover,
#flag:hover {
    border: 1px solid rgb(231, 27, 27);
    color: rgb(231, 27, 27);
}

/* dropdown */
.dropdown {
    display: inline-block;
    z-index: 4;
}

.dropdown-content-column {
    display: none;
    position: absolute;
    background-color: var(--color-dropdown-gray);
    bottom: calc(24 / 969 * 100vh);
    border-radius: 4px;
    height: fit-content;
}

.dropdown-content-row {
    display: none;
    position: relative;
    background-color: var(--color-dropdown-gray);
    top: calc(26 / 969 * 100vh);
    border-radius: 6px;
    width: fit-content;
}

#option {
    background-color: transparent;
    text-align: center;
    font-size: 12px;
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
}

.options {
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
}

.option-column {
    width: calc(30 / 969 * 100vh);
    padding: 10px;
    border-radius: 4px;
}

.option-row-small {
    width: calc(30 / 969 * 100vh);
    padding: 6px 4px 6px 4px;
    border-radius: 6px;
}

.option-row-big {
    width: calc(38 / 969 * 100vh);
    padding: 10px;
    border-radius: 6px;
}

#option:hover {
    background-color: var(--color-dropdown-darkgray);
}

.dropdown:hover>.dropdown-content-column {
    display: block;
}

.dropdown:hover>.dropdown-content-row {
    display: flex;
    flex-wrap: wrap;
}